@{
    ViewData["Title"] = "Details";
}
@section Header
{
    <style>
    .course-details {
    display: flex;
    flex-direction: row;
}

.course-details h1 {
    margin-right: 30px;
}

.course-info {
    margin-top: 20px;
}

.topic-heading {
    color: red;
}

.topics-list {
    margin-top: 20px;
}

.topic-item {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.topic-item h3 {
    margin-top: 0;
}

.topic-item p {
    margin-bottom: 5px;
}
    </style>

}
<div class="course-details">
    <h1>Course Details</h1>
    <a class="btn btn-dark" asp-action="Index">Back</a>
</div>

<div class="alert alert-primary course-info">
    <dl>
        <dt>Course Name:</dt>
        <dd>@ViewBag.crs.Cname</dd>

        <dt>Course ID:</dt>
        <dd>@ViewBag.crs.CrId</dd>

        <dt>Passing Degree:</dt>
        <dd>@ViewBag.crs.Passgrade</dd>
    </dl>
</div>

<div class="course-topics">
    <hr />
    <h2 class="topic-heading">Course Topics:</h2>

    <div class="topics-list">
        @foreach (var item in ViewBag.topics)
        {
            <div class="topic-item">
                <h3>Topic ID: @item.TopicId</h3>
                <p><strong>Topic Name:</strong> @item.TopicName</p>
                <p><strong>Topic Description:</strong> @item.TopicDescription</p>
            </div>
        }
    </div>
</div>
